*{
    padding: 0px auto;
    margin: 0px auto;
    font-family: 'Alfa Slab One', cursive;
}
.Header{
    width: 100%;
    color: white;
    background-color: #3a75a6;
}
.Header h3{
    line-height: 2.5em;
    float: left;
    margin-left: 1.5em;
}
#Logo{
    width: 7em;
    height: 3em;
    margin-top: 0.6em;
    margin-right: 1.5em;
    float: left;
}
#PythonLogo{
    width: 10em;
    height: 4em;
    margin-top: 0.5em;
    margin-right: 1.5em;
    float: right;
}

.Menu{
    width: 100%;
    background-color: #3a75a6;
    line-height: 3em;
    margin: 1em 0em;
}

.Menu #A1{
    list-style-type: none;
    text-align: center;
    margin-left: -2em;
}

.Menu #A1 li{
    display: inline-table;
    width: 19%;
}

.Menu #A1 li a{
    text-decoration: none;
    display: block;
    color: white;
}

.Menu #A1 li a:hover{
    cursor: pointer;
    color: black;
    background-color:white;
}


.SlidePicture{
    width: 100%;
    height: 30em;
}
.IntroSlide{
    width: 100%;
    height: 30em;
}
.GAP{
    width: 100%;
    height: 3em;
    background-color: #3a75a6;
    margin: 1.2em 0em;
}

.Content{
    width: 90%;
    height: 75em;
}

#Content1{
    width: 100%;
    height: 25em;
}

#Content1 .card{
    padding: 3.5em;
}
#Content1 img{
    width: 40%;
    height: 26.5em;
}
#Content2 {
    width: 100%;
    height: 25em;
    background-color: #3a75a6;
    margin-top: 1em;
    text-align: right;
    color: white;
}
#Content2 .card{
    background-color: #3a75a6;
}
#Content2 .card-body{
    padding: 5em;
}
#Content2 img{
    width: 100%;
    height: 25em;
}

#Content3{
    margin-top: 1em;
    width: 100%;
    height: 25em;
}
#Content3 .card{
    padding: 3.5em;
}

.Footer{
    margin-top: 3em;
    width: 100%;
    height: 3em;
    background-color:  #3a75a6;
}

.Copyright h5{
    text-align: left;
    line-height: 2.5em;
    color: white;
    margin-left: 1em;
    float: left;
    width: 40%;
}

.Contest h5{
    width: 55%;
    float: left;
    text-align: right;
    line-height: 2.5em;
    color: white;
    margin-left: 1em;
}